name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # 或是您的預設分支名稱

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject Secrets
        run: |
          sed -i "s/{{GOOGLE_API_KEY}}/${{ secrets.GOOGLE_API_KEY }}/g" index.html
          sed -i "s/{{LUNCH_FOLDER_ID}}/${{ secrets.LUNCH_FOLDER_ID }}/g" index.html
          sed -i "s/{{DINNER_FOLDER_ID}}/${{ secrets.DINNER_FOLDER_ID }}/g" index.html


      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .  # 部署當前目錄下的所有檔案
          branch: gh-pages # 部署到 gh-pages 分支
